<li class="nav-item">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon ">
            <i class="fas fa-eye"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Eye Sight Detect</div>
    </a>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        <i class="fa fa-user"></i>
        <span style="font-size: medium;"><B>Patients</B></span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Patients Information:</h6>
            <a class="collapse-item" href="{% url 'patient_personal_data' %}" }>Personal Data</a>
            <a class=" collapse-item " href="{% url 'patient_medical_data' %}">Medical Data</a>
        </div>
    </div>
</li>
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>